@model DangVanTai.Models.NhanVien

<div class="container">
    <h1>Chi Tiết Nhân Viên</h1>
    <dl class="row">
        <dt class="col-sm-2">Mã Nhân Viên:</dt>
        <dd class="col-sm-10">@Model.MaNhanVien</dd>
        <dt class="col-sm-2">Họ Tên:</dt>
        <dd class="col-sm-10">@Model.HoTen</dd>
        <dt class="col-sm-2">Ngày Sinh:</dt>
        <dd class="col-sm-10">@Model.NgaySinh.ToString("dd/MM/yyyy")</dd>
        <dt class="col-sm-2">Địa Chỉ:</dt>
        <dd class="col-sm-10">@Model.DiaChi</dd>
        <dt class="col-sm-2">Phòng Ban:</dt>
        <dd class="col-sm-10">@Model.PhongBan.TenPhongBan</dd>
    </dl>
    <a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
</div>